<form (submit)="changePassword(f)" #f="ngForm" ngNativeValidate>
    <div class="d-lg-inline-block align-top col-12">
        <div class="d-flex flex-nowrap flex-column child-mb">
            <div>
                <p>Old Password</p>
                <div>
                    <input class="form-control" name="oldPassword" type="password" ngModel required min="3" >
                </div>
            </div>
            <div>
                <p>New Password</p>
                <div>
                    <input class="form-control" name="newPassword" type="password" ngModel required min="3" />
                </div>
            </div>
            <div>
                <p>Confirm New Password</p>
                <div>
                    <input class="form-control" name="confirmNewPassword" type="password" ngModel required min="3"/>
                </div>
            </div>
            <div class="justify-content-center">
                <button type="submit" class="btn-radius btn btn-outline-primary btn-lg">Change Password</button>
                <span class="pointer underline margin-left" (click)="f.reset()">Cancel</span>
            </div>
        </div>
    </div>
</form>