<form (submit)="editProfile(f)" #f="ngForm" ngNativeValidate>
    <div class="d-lg-inline-block align-top col-12">
        <div class="d-flex flex-nowrap flex-column child-mb">
            <div>
                <div>
                    <input class="form-control" name="id" [(ngModel)]="client.id" hidden />
                </div>
            </div>
            <div>
                <p>Username</p>
                <div>
                    <input class="form-control disabled" name="username" [(ngModel)]="client.username" [readOnly]="true" />
                </div>
            </div>
            <div>
                <p>Email</p>
                <div>
                    <input class="form-control disabled" name="email"  [(ngModel)]="client.email" [readOnly]="true" />
                </div>
            </div>
            <div>
                <p>First Name</p>
                <div>
                    <input class="form-control" name="firstName"  [(ngModel)]="client.firstName" />
                </div>
            </div>
            <div>
                <p>Last Name</p>
                <div>
                    <input class="form-control" name="lastName"  [(ngModel)]="client.lastName" />
                </div>
            </div>
            <div>
                <p>Phone Number</p>
                <div>
                    <input class="form-control" name="phoneNumber"  [(ngModel)]="client.phoneNumber" />
                </div>
            </div>
            <div>
                <p>Address</p>
                <div>
                    <input class="form-control" name="address"  [(ngModel)]="client.address" />
                </div>
            </div>
            <div class="justify-content-center">
                <button type="submit" class="btn-radius btn btn-outline-primary btn-lg">Save</button>
                <span class="pointer underline margin-left" (click)="f.resetForm(originalValue)">Cancel</span>
            </div>
        </div>
    </div>
</form>