p {
    margin: 0;
}

.child-mb div {
    margin-bottom: 10px;
}

.pointer:hover {
 cursor: pointer;
}

.underline:hover {
    text-decoration: underline;
}

.margin-left {
    margin-left: 10px;
}

.disabled {
    background-color: #cccccc;
}

.max-width {
    max-width: 500px;
}
