
<div class="text-center">
  <form (ngSubmit)="register(f)" #f="ngForm" ngNativeValidate>
    <div class="d-lg-inline-block align-top col-8" style="max-width: 419px">
      <h1 class="text-center mb-3">Register</h1>
      <div class="d-flex flex-nowrap flex-column child-flex">
        <div>
          <span><i class="bi bi-person-bounding-box icon-size"></i></span>
          <div class="d-inline-block icon-div-width-4">
            <input class="form-control" placeholder="First Name" name="firstName" ngModel/>
          </div>
          <div class="d-inline-block icon-div-width-4">
            <input class="form-control" placeholder="Last Name" name="lastName" ngModel/>
          </div>
        </div>
        <div>
          <span><i class="bi bi-telephone-fill icon-size"></i></span>
          <div>
            <input class="form-control" placeholder="Phone Number" name="phoneNumber" ngModel/>
          </div>
        </div>
        <div>
          <span><i class="bi bi-geo-alt-fill icon-size"></i></span>
          <div>
            <input class="form-control" placeholder="Address" name="address" ngModel/>
          </div>
        </div>
        <div>
          <span><i class="bi bi-envelope-fill icon-size"></i></span>
          <div>
            <input class="form-control" placeholder="Email" name="email" ngModel required/>
          </div>
        </div>
        <div>
          <span><i class="bi bi-person-circle icon-size icon-size"></i></span>
          <div>
            <input class="form-control" placeholder="Username" name="username" ngModel required/>
          </div>
        </div>
        <div>
          <span><i class="bi bi-lock-fill icon-size"></i></span>
          <div>
            <input class="form-control" placeholder="Password" type="password" name="password" ngModel required min="3"/>
          </div>
        </div>
        <div>
          <span><i class="bi bi-key-fill icon-size"></i></span>
          <div>
            <input class="form-control" placeholder="Confirm Password" type="password" name="confirmPassword" ngModel required min="3"/>
          </div>
        </div>
        <div class="justify-content-center">
          <button type="submit" class="btn-radius btn btn-outline-primary btn-lg">REGISTER</button>
        </div>
        <div class="justify-content-center">
          <p class="mt-1 ml-4">Already have an account? <a [routerLink]='["/authentication/login"]' class="link">Login here</a></p>
        </div>
      </div>
    </div>
  </form>
  <div class="d-inline align-top col-3">
    <img src="../../../assets/images/registerImage.webp" width="400" height="400" />
  </div>
</div>
