<div>
    <div class="mb-3 mt-3 text-center">
        <div class="form-check form-check-inline">
            <input class="form-check-input pointer" type="radio" name="inlineRadioOptions" id="inlineRadio1" [value]="0"
                [(ngModel)]="selectedOption">
            <label class="form-check-label pointer" for="inlineRadio1">Product</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input pointer" type="radio" name="inlineRadioOptions" id="inlineRadio2" [value]="1"
                [(ngModel)]="selectedOption">
            <label class="form-check-label pointer" for="inlineRadio2">Field</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input pointer" type="radio" name="inlineRadioOptions" id="inlineRadio3" [value]="2"
                [(ngModel)]="selectedOption">
            <label class="form-check-label pointer" for="inlineRadio3">Category</label>
        </div>
    </div>

    <div *ngIf="selectedOption == 0">
        <div class="box" style="margin-top: 25px">
            <h2 class="text-center">Products - {{ products?.length }}</h2>
        </div>

        <div class="table-responsive">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th>Manufacturer</th>
                        <th>Model</th>
                        <th>Warranty</th>
                        <th>Price</th>
                        <th>Discount</th>
                        <th>Quantity</th>
                        <th>CategoryName</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td> {{ product.manufacturer }}</td>
                        <td> {{ product.model }}</td>
                        <td> {{ product.warranty }}</td>
                        <td> {{ product.price }}</td>
                        <td> {{ product.discount }}</td>
                        <td> {{ product.quantity }}</td>
                        <td> {{ product.categoryName }}</td>
                        <td class="width-50">
                            <a class="pointer"><i class="bi bi-percent"></i></a>
                        </td>
                        <td class="width-50">
                            <a class="pointer" (click)="editObj(product, 0)"><i class="bi bi-pencil-square text-success"></i></a>
                        </td>
                        <td class="width-50">
                            <a class="pointer" (click)="deleteObj(product.id, 0)"><i class="bi bi-trash-fill text-danger"></i></a>
                        </td>
                        <td class="width-50">
                            <a class="pointer"><i class="bi bi-info-circle-fill text-info"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- Field -->
    <div *ngIf="selectedOption == 1">
        <div class="box" style="margin-top: 25px">
            <h2 class="text-center">Fields - {{ fields?.length }}</h2>
        </div>

        <div class="table-responsive">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th>Field Name</th>
                        <th>Type Code</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let field of fields">
                        <td> {{ field.name }}</td>
                        <td> {{ field.typeCode }}</td>
                        <td class="width-50">
                            <a class="pointer" (click)="editObj(field, 1)"><i class="bi bi-pencil-square text-success"></i></a>
                        </td>
                        <td class="width-50">
                            <a class="pointer" (click)="deleteObj(field.id, 1)"><i class="bi bi-trash-fill text-danger"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- Category -->
    <div *ngIf="selectedOption == 2">
        <div class="box" style="margin-top: 25px">
            <h2 class="text-center">Categories - {{ groupedCategories?.length }}</h2>
        </div>

        <div class="table-responsive">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th>Category Name</th>
                        <th>Fields</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of groupedCategories">
                        <td> {{ category.name }}</td>
                        <td> {{ getFieldsNames(category) }}</td>
                        <td class="width-50">
                            <a class="pointer" (click)="editObj(category, 2)"><i class="bi bi-pencil-square text-success"></i></a>
                        </td>
                        <td class="width-50">
                            <a class="pointer" (click)="deleteObj(category.id, 2)"><i class="bi bi-trash-fill text-danger"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>