<div class="d-flex flex-column flex-lg-row">
    <div class="menu text-center min-width">
        <div [ngClass]="{'selected-tab': currentTab == 0}" (click)="ChangeTab(0)" [routerLink]="['/manage', { outlets: { 'manage': ['profile'] } }]
            ">
            <span>Profile</span>
        </div>
        <div [ngClass]="{'selected-tab': currentTab == 1}" (click)="ChangeTab(1)"
            [routerLink]="['/manage', { outlets: { 'manage': ['orders'] } }]">
            <span>Orders</span>
        </div>
        <div [ngClass]="{'selected-tab': currentTab == 2}" (click)="ChangeTab(2)"
            [routerLink]="['/manage', { outlets: { 'manage': ['change-password'] } }]">
            <span>Change Password</span>
        </div>
        <div [ngClass]="{'selected-tab': currentTab == 3}" (click)="ChangeTab(3)"
            *ngIf="(manageService.token | async).role.includes('Administrator')"
            [routerLink]="['/manage', { outlets: { 'manage': ['control-panel'] } }]">
            <span>Control Panel</span>
        </div>
    </div>
    <div class="w-100 margin-left">
        <router-outlet name="manage"></router-outlet>
    </div>
</div>