<h1 class="text-center">Products</h1>
<hr />

<div class="d-flex justify-content-around">
    <div class="col-3">
        <!-- TODO -->
        <form class="filter-form row">
            <div class="col-12 p-0 mb-3 w-100">
                <h4 class="filter-titles">Filters</h4>
                <div class="d-block">
                    <input type="radio" id="promotions" value="1" name="filter" class="wh-input" (click)="sortFilter(1)" checked="checked"/>
                    <label for="promotions">Promotions</label>
                </div>
                <div class="d-block">
                    <input type="radio" id="ascendingPrice" value="2" name="filter" class="wh-input" (click)="sortFilter(2)"/>
                    <label for="ascendingPrice">Ascending Price</label>
                </div>
                <div class="d-block">
                    <input type="radio" id="descendingPrice" value="3" name="filter" class="wh-input" (click)="sortFilter(3)"/>
                    <label for="descendingPrice">Descending  Price</label>
                </div>
            </div>
            <div class="col-12 p-0 mb-3 w-100">
                <h4 class="filter-titles">Price</h4>
                <input type="number" placeholder="Min price" [min]="0" name="minPrice" [(ngModel)]="priceFilterObj.min" 
                    max="" />
                <span id="filter-dash">-</span>
                <input type="number" placeholder="Max price" [min]="0" name="maxPrice" [(ngModel)]="priceFilterObj.max"
                    max="" />
            </div>
            <div class="col-12 p-0 mb-3">
                <h4 class="filter-titles">Manufacturer</h4>
                <div class="d-block" *ngFor="let m of filterManufactorersObj; let i = index">
                    <div [hidden]="!m.isVisible">
                        <input type="checkbox" [id]="m.manufacturer" [name]="m.manufacturer + i" class="wh-input" [(ngModel)]="m.isChecked" />
                        <label [for]="m.manufacturer">{{ m?.manufacturer }}</label>
                    </div>
                </div>
            </div>
            <div class="col-12 p-0 mb-3">
                <h4 class="filter-titles">Model</h4>
                <div class="d-block" *ngFor="let m of filterModelsObj; let i = index">
                    <div [hidden]="!m.isVisible">
                        <input type="checkbox" [id]="m.model" [name]="m.model + i" class="wh-input" [(ngModel)]="m.isChecked" />
                        <label [for]="m.model">{{ m.model }}</label>
                    </div>
                </div>
            </div>
            <div class="d-block col-12 text-center p-0 mb-3">
                <hr />
                <button type="submit" class="btn" (click)="filter()"><i class="bi bi-search"></i></button>
            </div>
        </form>
    </div>

   <div class="flex-row flex-wrap list-group col-7" *ngIf="!isLoading">
        <app-product *ngFor="let p of filteredProducts" 
        [product]="p"
        class="m-2 max-size"></app-product>
   </div>
   <div *ngIf="isLoading">
    <h2>Loading...</h2>
   </div>
</div>