<h1 class="text-center">Products</h1>
<hr />

<div class="d-flex justify-content-around">
    <div class="col-3">
        <!-- TODO -->
        <form class="filter-form row">
            <div class="col-12 p-0 mb-3 w-100">
                <h4 class="filter-titles">Filters</h4>
                <div class="d-block">
                    <input type="radio" id="promotions" value="1" name="filter" class="wh-input" />
                    <label for="promotions">Promotions</label>
                </div>
                <div class="d-block">
                    <input type="radio" id="topProducts" value="2" name="filter" class="wh-input" />
                    <label for="topProducts">Top Products</label>
                </div>
                <div class="d-block">
                    <input type="radio" id="ascendingPrice" value="3" name="filter" class="wh-input" />
                    <label for="ascendingPrice">Ascending Price</label>
                </div>
            </div>
            <div class="col-12 p-0 mb-3 w-100">
                <h4 class="filter-titles">Price</h4>
                <input type="number" placeholder="Min price" min="0" name="minPrice"
                    max="" />
                <span id="filter-dash">-</span>
                <input type="number" placeholder="Max price" name="maxPrice"
                    max="" onchange="minInput()" />
            </div>
            <div class="col-12 p-0 mb-3">
                <h4 class="filter-titles">Manufacturer</h4>
                <!-- @foreach (var item in ViewBag.Manufacturers) //TODO for and Id
                    { -->
                <div class="d-block" *ngFor="let m of Manufactorers">
                    <input type="checkbox" value="@item" id="@item" name="manufacturers" class="wh-input" />
                    <label for="@item">{{ m }}</label>
                </div>

            </div>
            <div class="col-12 p-0 mb-3">
                <h4 class="filter-titles">Model</h4>
                <!-- @foreach (var item in ViewBag.Models)
                    { -->
                <div class="d-block" *ngFor="let p of products">
                    <input type="checkbox" value="@item" id="@item" name="models" class="wh-input" />
                    <label for="@item">{{p.model}}</label>
                </div>
            </div>
            <div class="d-block col-12 text-center p-0 mb-3">
                <hr />
                <button type="submit" class="btn"><i class="bi bi-search"></i></button>
            </div>
        </form>
    </div>

   <div class="flex-row flex-wrap list-group col-7" *ngIf="!isLoading">
        <app-product *ngFor="let p of products" 
        [product]="p"
        class="m-2 max-size"></app-product>
   </div>
   <div *ngIf="isLoading">
    <h2>Loading...</h2>
   </div>
</div>