<div class="w-100 list-group-item rounded">
    <div>
        <!-- asp-action="Details" asp-controller="Products" asp-route-id="@item.Id" -->
        <a>
            <img [src]="product.Image" width="200" height="175">
            <h5>{{ product.Manufacturer }} {{ product.Model }}</h5>
        </a>
    </div>
    <div *ngIf="product.Quantity == 0">
        <p class="text-danger">Not Available</p>
    </div>
    <div class="text-center" style="font-size: 14px;">
        <div *ngFor="let field of product.Fields;">
            <p style="margin-bottom: 10px"> {{ field.FieldName }}</p>
        </div>
    </div>
    <div>
        <div style="height: 24px">
            <div *ngIf="product.Discount > 0">
                <p class="mb-0 text-left"><s>{{ product.Discount + product.Price }} lv.</s></p>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-between align-items-center">
            <div>
                <div *ngIf="product.Discount > 0">
                    <span class="font-weight-bold text-danger" style="font-size: 17px">{{ product.Price }} lv.</span>
                </div>
                <div *ngIf="product.Discount == 0">
                    <span class="font-weight-bold" style="font-size: 17px">{{ product.Price }} lv.</span>
                </div>
            </div>
            <div>
                <button class="btn btn-primary" (click)="routeToDetail()">SEE MORE</button>
            </div>
        </div>
    </div>
</div>