<div class="text-center">
    <div class="d-lg-inline-block align-top" style="margin-right: 50px">
        <img [src]="product.image" width="400" height="350"/>
    </div>
    <div class="d-lg-inline-block align-top">
        <h2 id="productTitle">
          {{ product.manufacturer }} - {{ product.model }}
        </h2>
        <div class="d-lg-inline-block align-top p-30">
            <h5>Single price</h5>
            <hr />
            <span id="pricePerProduct">{{ product.price }}</span>
            <span> lv.</span>
        </div>
        <div class="d-lg-inline-block align-top p-30">
            <h5>Total price</h5>
            <hr />
            <span id="totalPrice">{{ product.price }}</span>
            <span> lv.</span>
        </div>
        <div>
            <p *ngIf="product.quantity > 0">{{ 'In Stock:   ' + product.quantity }}</p>
            <p *ngIf="product.quantity == 0" class="text-danger">Not Available</p>
        </div>
          

        <!-- @await Html.PartialAsync("~/Views/Products/_OrderPartialView.cshtml", new OrderCreateBindingModel
   {
       ProductId = Model.Id,
       Category = Model.Category,
       Manufacturer = Model.Manufacturer,
       Model = Model.Model,
       Price = Model.Price.ToString()
   }) -->
    </div>
    <div style="margin-top: 45px">
        <h2>Technical Details</h2>
        <table class="table table-striped">
            <tbody>
                    <!-- var line = item.Split(':'); -->
                <tr *ngFor="let item of product.fields">
                    <td>
                        <strong>{{ item.name }}</strong>
                    </td>
                    <td>
                       {{ item.value }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>